<html>
  <body>           
   {% for greeting in greetings %}
      {% if greeting.author %}
         <b>{{ greeting.author }}</b> wrote({{ greeting.date }}):
      {% else  %}
        An anonymous person wrote({{ greeting.date }}):
      {% endif %}
        <blockquote>{{ greeting.content|escape }}</blockquote>
   {% endfor %}
                              
                              
      <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
        <div><textarea name="content" rows="3" cols="60"></textarea></div>
        <div><input type="submit" value="Sign Guestbook"></div>
      </form>
      <hr>
      <form>Guestbook name: <input value='{{ guestbook_name|escape }}' name='guestbook_name'>
        <input type="submit" value="switch"></form>
        
      <a href="{{ url }}">{{ url_linktext }}</a>
      </body>
      </html>
  </body>
</html>